body{
    font-family: 'Poppins', sans-serif;
}
#first-heading{
    font-size: 60px;
    font-family: 'Boogaloo', cursive;
    border-left: 5px solid;
    border-color: maroon;
    padding-left: 10px;
}   
.orange{
    color:maroon;
    font-weight: 900;
}
.flexible-container{
    display: flex;
}
.half-width{
    width:50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    margin-top: 80px;
}    
.blocks{
    width:28%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
}
#mission{
    background-color: mediumaquamarine;
}
#vission{
    background-color: rgb(189, 123, 133);
}
#goals{
    background-color: rgb(163, 130, 216);
}
.text-part{
    width:60%;
    padding: 40px;
}
.img-part{
    width:40%;
}
.img-part img{
    width:80%;
   
}
footer{
    background-color: rgb(11, 3, 59);
    text-align: center;
    padding-top: 20px;
    padding-bottom:30px;
    color: white;
}
.fp{
    font-size:37px;
    font-family: 'Moon Dance', cursive;
    font-weight: 900;
}
#fp{
    color: red;
}
.heading{
    text-align: center;
    font-size:x-large;
}
.button{
    text-decoration: none;
    background-color:rgb(21, 62, 78);
    color:white;
    font-weight: 700;
    padding:10px 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(168, 179, 190);
}
.develop{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
}
#im{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
}
.margin{
    margin:8%;
}